* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-container {
    min-width: 1450px;
}

.heading {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-family: "Iowan Old Style";
}
.heading span img {
    width: 5rem;
}

.hr {
    margin: .5vh 0;
}

.search-bar {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    font-size: 2rem;
    width: 400px;
    padding: 1rem 4rem;
    background-image: url(./Frame\ 15.svg);
    background-position: 4%;
    background-size: 3rem;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-right: none;
}


.search-bar span {
    font-size: 1.8rem;
    padding: 1.22rem;
    background-color: #E84848;
    color: white;
}

.body-heading {
    width: 70%;
    margin: 0  auto 1% auto;
    color: #E84848;
    font-size: 1.5rem;
    font-family: "Inria Sans";
    margin-bottom: 2vh;
   
}

.main-body {
    width: 70%;
    margin:0 auto;
    display: grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap:5rem;
    margin-bottom: 15rem; 
}

.box img { 
    width: 100%;
}

.box h3 {
    padding: .5rem 0 1rem 0;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    font-size: 1.7rem;
    letter-spacing: -1px;
    color: #3c3030e8;
    font-family: "Inknut Antiqua";
}

.box p {
    margin: .5rem 0 1rem 0;
    color: #3C3030;
    font-size: 1.1rem;
    font-family: Inter;
}

.box a {
    text-decoration: none;
    color: #3C3030;

}

.box a i {
    text-decoration: underline;
    padding-left: .4rem;
    color: #E84848;
}

.bottom-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 1.5rem;
}

.bottom-container p {
    font-size: 1.2rem;
    color:#3C3030 ;
}

.bottom-container img {
    height: .7rem;
    padding: .1rem;
}


 @media (max-width:1024px) {
    .main-container {
        min-width: 1024px;
    }

    .search-bar input {
        width: 280px;
        padding: .7rem 4rem;
    }
    
    
    .search-bar span {
        font-size: 1.6rem;
        padding: 1rem;
        background-color: #E84848;
        color: white;
    }
    .heading {
        height:100px;
        font-size: 3rem;
    }

    .heading span img {
        width: 2rem;
    }
    
    .search-bar {
        height: 100px;
    }
    .main-body{
        width: 90%;
    }

    .body-heading {
        margin-left: 5%;
    }
} 

@media (max-width:768px) {
    .main-container {
        min-width: 768px;

    }

    .main-body {
        grid-template-rows:repeat(5,1fr);
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 35rem;
    }

    .box {
        margin-bottom: -3rem;
    }

    .bottom-container {
        height: 5%;
       
    }

}

@media (max-width:426px) {
    .main-container {
        min-width: 425px;

    }
    .heading {
        /* height:30px; */
        font-size: 2rem;
    }
    
    .heading span img {
        width: 1.4rem;
    }
    .search-bar {
        /* height: 30px; */
    }

    .bottom-container {
        height: 30px; 
    }

    .main-body {
        grid-template-rows:repeat(9,1fr);
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 98rem;
    }

    .box {
        /* margin-bottom: 8rem; */
    }

    .bottom-container p {
        width: 50%;
        font-size: 1rem;
    }
}

@media (max-width:375px) {
    .main-container {
        min-width: 360px;
    }
    /* .heading {
        height:20px;
    } */

    .heading span img {
        width: 1.5rem;
    }

    .search-bar input {
        width: 250px;
    }

    .body-heading {
        font-size: 1rem;
    }

    .main-body {
        margin-bottom: 102rem;     
    } 

    .bottom-container p {
        font-size: 1rem;
    }
}

@media (max-width:320px) {
    .main-container{
        min-width: 320px;
    }  

    .search-bar input {
        width: 230px;
    }
}